body{
	margin:0px;
	font-family:sans-serif;
	font-size:30px;
	
}

a{
	text-decoration:none;
}


/* Body Header */

#body-header{
	background-image:url("C:/static/bell.jpg");
	height:75vh;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	opacity:0.8;
	padding-top:1.2rem;
	
	
}

/* Horizontal List*/

.list{
	padding-left:0px;
	list-style:none;
	margin:0px;
	
	
}

.list li{
	display:inline-block;
	margin: 0px 10px 10px 0px;
	font-weight:100;
	font-size:0.9rem;
	
}

.list li a{
	color:white;
	text-decoration:none;
	
}

.nav-menu{
	transition: color 0.5s, border-bottom 4s;
	
}

.nav-menu li a:hover{
	color:lightgrey;
	border-bottom:1px solid white;
}

.text-center{
	text-align:center;
}

/* Name */

#name{
	margin-top:20vh;
	
}

#my-name{
	font-size:3rem;
	letter-spacing:0.1rem;
	color:white;
	font-weight:700;
	margin-bottom: 0.5rem;
	
}

/* Icons */

.social-icons li a i{
	padding: 10px;
	font-size:1rem;
	border-radius: 50%;
	
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3); 
		
}

/*div1*/

.div1 h1{
	text-align:center;
	color:grey;
}

.div1 h1:hover{
	color:black;
	
}







/*section*/

section{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	
	
}

/*about-section*/

#about{
	height:auto;
	width:100%;
	position: relative;
	
	
}

#my-image{
	height:12rem;
	width:12rem;
	margin:auto;
	margin-top: -17vh;
	
	
}

#my-image img{
	height:100%;
	width:100%;
	border-radius: 50%;
	border: 3px solid white;
	box-shadow:1px 1px 10px 2px lightgrey;
	
	
}

#about-para{
	padding:10px;
	width:70%;
	height:100%;
	margin:auto;
	font-family: ;
	text-align:justify;
	color:grey;
	line-height:28px;
	font-weight:100;
	font-size:1.1rem;
	
	
}

/* skills section*/

.section-heading{
	width:auto;
	padding:20px 10px 10px;
	font-weight:400;
	
}

.section-heading span{
	font-size:40px;
	color:#2857a4;
	display:inline-block;
	padding-top:10px;
	margin-right:0.5rem;
}

/*Timeline*/

.timeline{
	position:relative;
	width:75%;
	height:auto;
	/*border:2px solid black;*/
	
}

.timeline-box{
	position:relative;
	margin:20px 10px;
	width:40%;
	left:5%;
	min-height:150px;
	/*border:2px solid black;*/
	
	
}

.timeline-box .para{
	color:grey;
	line-height:28px;
	font-weight:100;
	font-size:1.1rem;
	text-align:center;
}

.timeline-box p{
	color:grey;
	line-height:28px;
	font-weight:100;
	font-size:1.5rem;
	text-align:center;
}


.timeline-box h1{
	color:black;
	line-height:30px;
	font-weight:400;
	font-size:2rem;
	text-align:center;
	color:#2857a4;
}



.timeline-box:nth-child(2n){
	left:53%
}

.timeline-box:nth-child(2n+1)::after{
	content:"";
	position:absolute;
	top:30%;
	right:-12%;
	border-radius: 50%;
	width:1rem;
	height:1rem;
	background-color:lightgrey;
	z-index:1;
	
}

.timeline-box:nth-child(2n)::after{
	content:"";
	position:absolute;
	top:30%;
	left:-11.5%;
	border-radius: 50%;
	width:1rem;
	height:1rem;
	background-color:lightgrey;
	z-index:1;
	
}


.timeline-divider{
	position:absolute;
	height:81%;
	width:0;
	border: 1px dashed #2857a4;
	top:6.5%;
	left:50%;
	
}


.timeline-traveller{
	position: sticky;
	top:30%;
	transform: rotate(90deg);
	color:#2857a4;
	
}


/* Extra section*/

.mb75px{
	margin-bottom:75px;
}

.text-highlight{
	color:#2857a4;
	font-weight:600;
	
}

.mb-blue{
	background-color:#2357a4;
	
}

/*animation*/
#animation{
	 background-color: #9e9b9b29;

}



#animation #head{
	text-align:center;
	margin-top:50px;
	color:red;
	font-size:70px;
}


/*Animation 1*/

.cube{
	height:200px;
	width:200px;
	position:relative;
	margin:200px;
    transform-style: preserve-3d;
	perspective:10000px;
	transition: all 10s linear ;
	animation: cube 10s ease-in-out infinite alternate;
	
}



@keyframes cube{
	from{
		transform:rotateX(0deg)rotateY(0deg) rotateZ(0deg);
	}
	
	10%{
		transform:rotateY(-90deg);
	}
	
	20%{
		transform:rotateX(-90deg);
	}
	
	30%{
		transform:rotateY(90deg);
	}
	
	40%{
		transform:rotateX(90deg);
	}
	50%{
		transform:rotateX(180deg);
	}
	
	
	
	
	
	to{
		transform:rotateX(360deg)rotateY(360deg) rotateZ(360deg);
	}
}


.face{
	height:100%;
	width:100%;
	position:absolute;
	top:20%;
	left:20%;
	text-align:center;
	
	
}

.one{
	background-color: skyblue;
}

.two{
	background-color:orange;
	transform:rotateY(90deg) translateZ(-100px) translateX(-100px);
}

.three{
	background-color:red;
	transform:rotateY(90deg) translateZ(100px) translateX(-100px);
}

.four{
	background-color:pink;
	transform:rotateX(90deg) translateZ(-100px) translateY(100px);
}

.five{
	background-color:lightgreen;
	transform:rotateX(90deg) translateZ(100px) translateY(100px);
}

.six{
	background-color:blue;
	transform:translateZ(200px);
}


.cube h1{
	font-family:sans-serif;
	color:white;
	font-size:30px;
}

/*Animation2*/

.cube1{
	height:100px;
	width:100px;
	position:relative;
	margin:250px;
    transform-style: preserve-3d;
	perspective:10000px;
	transition: all 10s linear ;
	animation: cube 10s ease-in-out infinite alternate;
	
}


/* Contact Form */

#contact {



    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    /*background-image: linear-gradient(50deg,#2857a4 0%, #5378b1 74%);*/
    /*background-image: linear-gradient(170deg,#2857a4 0%, #8496b2 74%);*/
    /*background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);*/
    /*background-image: linear-gradient(to right,#13226fe0, #5473a2e0, #434ba8e0);*/
    /*background-color: #13386fe0;*/
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



